# ignore backup dir
virtualmoon/backup/
datlun/backup/
cclun/backup/
photlun/backup/
weblun/backup/
#ignore external data
BaseData/*.tgz
BaseData/*.xz
BaseData/Readme.txt
data/zoneinfo
# ignore fpc makefiles
conf.sh
Makefile
Makefile.fpc
Makefile.fpcxxx
virtualmoon/atlun.lps
# ignore build dir
BUILD_LINUX32
BUILD_LINUX64
BUILD_LINUXDATA
BUILD_LINUXPICTURE
BUILD_LINUXTRANSLATION
BUILD_WIN
BUILD_WINDATA
BUILD_WINPICTURE
BUILD_WINTRANSLATION
*.iso
cclun/cclun
cclun/units/
cclun/cclun.exe
datlun/datlun
datlun/units/
datlun/datlun.exe
photlun/photlun
photlun/photlun.exe
photlun/units/
virtualmoon/atlun
virtualmoon/atlun.exe
virtualmoon/units/
virtualmoon/component/glscene/Packages/lib/
virtualmoon/component/glscene/Locale
virtualmoon/component/uniqueinstance/lib/
virtualmoon/component/indiclient/lib/
weblun/units/
weblun/weblun
weblun/weblun.exe
last.build
# ignore binary
*.o
