Package: virtualmoon-hires
Version: 5
Section: science
Priority: optional
Maintainer: Patrick Chevalley <pch@ap-i.net>
Architecture: all
Suggests: virtualmoon 
Description: Virtual Moon Atlas - High resolution textures
 This software can visualize the Moon aspect for every location, date and hour. 
 It permits also to study lunar formations with unique database and pictures library
 .
