#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Datlun
Comment=Moon formation database
Exec=datlun
Icon=datlun.xpm
Terminal=false
Type=Application
Categories=Education;Science;Astronomy
