TAsyncTimer BITMAP vcl\glscene_icon_TAsyncTimer.bmp
TAVIRecorder BITMAP vcl\glscene_icon_TAVIRecorder.bmp
TJoystick BITMAP vcl\glscene_icon_TJoystick.bmp
TScreenSaver BITMAP vcl\glscene_icon_TScreenSaver.bmp