gls_camera BITMAP objects\gls_camera.bmp
gls_lights BITMAP objects\gls_lights.bmp
gls_objects BITMAP objects\gls_objects.bmp
gls_root BITMAP objects\gls_root.bmp
gls_cross BITMAP objects\gls_cross.bmp

TGLCamera BITMAP objects\TGLCamera.bmp
TGLDirectOpenGL BITMAP objects\TGLDirectOpenGL.bmp
TGLDummyCube BITMAP objects\TGLDummyCube.bmp
TGLLightSource BITMAP objects\TGLLightSource.bmp

TGLFeedback BITMAP objects\TGLFeedback.bmp
TGLImposter BITMAP objects\TGLImposter.bmp
TGLRenderPoint BITMAP objects\TGLRenderPoint.bmp
TGLFBORenderer BITMAP objects\TGLFBORenderer.bmp

TGLHUDSprite BITMAP objects\hud_objects\TGLHUDSprite.bmp
TGLHUDText BITMAP objects\hud_objects\TGLHUDText.bmp
TGLResolutionIndependantHUDText BITMAP objects\hud_objects\TGLResolutionIndependantHUDText.bmp
TGLAbsoluteHUDText BITMAP objects\hud_objects\TGLAbsoluteHUDText.bmp
TGLConsole BITMAP objects\hud_objects\TGLConsole.bmp
TGLGameMenu BITMAP objects\hud_objects\TGLGameMenu.bmp

TGLAdvancedLabel BITMAP objects\gui_objects\TGLAdvancedLabel.bmp
TGLBaseControl BITMAP objects\gui_objects\TGLBaseControl.bmp
TGLButton BITMAP objects\gui_objects\TGLButton.bmp
TGLCheckBox BITMAP objects\gui_objects\TGLCheckBox.bmp
TGLCustomControl BITMAP objects\gui_objects\TGLCustomControl.bmp
TGLEdit BITMAP objects\gui_objects\TGLEdit.bmp
TGLForm BITMAP objects\gui_objects\TGLForm.bmp
TGLLabel BITMAP objects\gui_objects\TGLLabel.bmp
TGLPanel BITMAP objects\gui_objects\TGLPanel.bmp
TGLPopupMenu BITMAP objects\gui_objects\TGLPopupMenu.bmp
TGLScrollBar BITMAP objects\gui_objects\TGLScrollBar.bmp
TGLStringGrid BITMAP objects\gui_objects\TGLStringGrid.bmp

TGLCone BITMAP objects\basic_geometry\TGLCone.bmp
TGLCube BITMAP objects\basic_geometry\TGLCube.bmp
TGLCylinder BITMAP objects\basic_geometry\TGLCylinder.bmp
TGLDisk BITMAP objects\basic_geometry\TGLDisk.bmp
TGLDodecahedron BITMAP objects\basic_geometry\TGLDodecahedron.bmp
TGLFrustrum BITMAP objects\basic_geometry\TGLFrustrum.bmp
TGLIcosahedron BITMAP objects\basic_geometry\TGLIcosahedron.bmp
TGLLines BITMAP objects\basic_geometry\TGLLines.bmp
TGLPlane BITMAP objects\basic_geometry\TGLPlane.bmp
TGLPoints BITMAP objects\basic_geometry\TGLPoints.bmp
TGLPolygon BITMAP objects\basic_geometry\TGLPolygon.bmp
TGLSphere BITMAP objects\basic_geometry\TGLSphere.bmp
TGLSprite BITMAP objects\basic_geometry\TGLSprite.bmp
TGLCapsule BITMAP objects\basic_geometry\TGLCapsule.bmp

TGLAnimatedSprite BITMAP objects\advanced_geometry\TGLAnimatedSprite.bmp
TGLAnnulus BITMAP objects\advanced_geometry\TGLAnnulus.bmp
TGLArrowLine BITMAP objects\advanced_geometry\TGLArrowLine.bmp
TGLArrowArc BITMAP objects\advanced_geometry\TGLArrowArc.bmp
TGLExtrusionSolid BITMAP objects\advanced_geometry\TGLExtrusionSolid.bmp
TGLMultiPolygon BITMAP objects\advanced_geometry\TGLMultiPolygon.bmp
TGLPipe BITMAP objects\advanced_geometry\TGLPipe.bmp
TGLRevolutionSolid BITMAP objects\advanced_geometry\TGLRevolutionSolid.bmp
TGLTorus BITMAP objects\advanced_geometry\TGLTorus.bmp
TGLGeoSphere BITMAP objects\advanced_geometry\TGLGeoSphere.bmp

TGLActor BITMAP objects\mesh_objects\TGLActor.bmp
TGLFreeForm BITMAP objects\mesh_objects\TGLFreeForm.bmp
TGLMesh BITMAP objects\mesh_objects\TGLMesh.bmp
TGLPortal BITMAP objects\mesh_objects\TGLPortal.bmp
TGLTerrainRenderer BITMAP objects\mesh_objects\TGLTerrainRenderer.bmp
TGLTilePlane BITMAP objects\mesh_objects\TGLTilePlane.bmp

TGLFlatText BITMAP objects\graph_plotting_objects\TGLFlatText.bmp
TGLHeightfield BITMAP objects\graph_plotting_objects\TGLHeightfield.bmp
TGLXYZGrid BITMAP objects\graph_plotting_objects\TGLXYZGrid.bmp

TGLParticleFXRenderer BITMAP objects\particle_systems\TGLParticleFXRenderer.bmp
TGLParticles BITMAP objects\particle_systems\TGLParticles.bmp

TGLEarthSkyDome BITMAP objects\environment_objects\TGLEarthSkyDome.bmp
TGLSkyDome BITMAP objects\environment_objects\TGLSkyDome.bmp
TGLAtmosphere BITMAP objects\environment_objects\TGLAtmosphere.bmp
TGLSkyBox BITMAP objects\environment_objects\TGLSkyBox.bmp

TGLSpaceText BITMAP objects\doodad_objects\TGLSpaceText.bmp
TGLTeapot BITMAP objects\doodad_objects\TGLTeapot.bmp
TGLTree BITMAP objects\doodad_objects\TGLTree.bmp
TGLWaterplane BITMAP objects\doodad_objects\TGLWaterplane.bmp

TGLBlur BITMAP objects\special_objects\TGLBlur.bmp
TGLMotionBlur BITMAP objects\special_objects\TGLMotionBlur.bmp
TGLLensflare BITMAP objects\special_objects\TGLLensflare.bmp
TGLMirror BITMAP objects\special_objects\TGLMirror.bmp
TGLShadowPlane BITMAP objects\special_objects\TGLShadowPlane.bmp
TGLShadowVolume BITMAP objects\special_objects\TGLShadowVolume.bmp
TGLZShadows BITMAP objects\special_objects\TGLZShadows.bmp
TGLTrail BITMAP objects\special_objects\TGLTrail.bmp
TGLTextureLensFlare BITMAP objects\special_objects\TGLTextureLensFlare.bmp
TGLTextureEmitter BITMAP objects\special_objects\TGLTextureEmitter.bmp
TGLSLTextureEmitter BITMAP objects\special_objects\TGLSLTextureEmitter.bmp
TGLProjectedTextures BITMAP objects\special_objects\TGLProjectedTextures.bmp
TGLSLProjectedTextures BITMAP objects\special_objects\TGLSLProjectedTextures.bmp
TGLPostShaderHolder BITMAP objects\special_objects\TGLPostShaderHolder.bmp
TGLPostEffect BITMAP objects\special_objects\TGLPostEffect.bmp

TGLActorProxy BITMAP objects\proxy_objects\TGLActorProxy.bmp
TGLColorProxy BITMAP objects\proxy_objects\TGLColorProxy.bmp
TGLFreeFormProxy BITMAP objects\proxy_objects\TGLFreeFormProxy.bmp
TGLMaterialProxy BITMAP objects\proxy_objects\TGLMaterialProxy.bmp
TGLMaterialMultiProxy BITMAP objects\proxy_objects\TGLMaterialMultiProxy.bmp
TGLMultiProxy BITMAP objects\proxy_objects\TGLMultiProxy.bmp
TGLProxyObject BITMAP objects\proxy_objects\TGLProxyObject.bmp

TGL3xPlane BITMAP objects\basic_geometry\TGLPlane.bmp
TGL3xSprite BITMAP objects\basic_geometry\TGLSprite.bmp
TGL3xCube BITMAP objects\basic_geometry\TGLCube.bmp
TGL3xSphere BITMAP objects\basic_geometry\TGLSphere.bmp
TGL3xGeoSphere BITMAP objects\basic_geometry\TGLSphere.bmp
TGL3xDisk BITMAP objects\basic_geometry\TGLDisk.bmp
TGL3xAtmosphere BITMAP objects\environment_objects\TGLAtmosphere.bmp
TGL3xLensflare BITMAP objects\special_objects\TGLLensflare.bmp
TGL3xNishitaSky BITMAP objects\environment_objects\TGLEarthSkyDome.bmp
TGL3xBilletMesh BITMAP objects\mesh_objects\TGLMesh.bmp
